@import "../Stylesheets/reset";
@import "../Stylesheets/fonts";
@import "../Stylesheets/vars";
@import "../Stylesheets/typeplate/typeplate";
@import "../Stylesheets/flexbox";
@import "../Stylesheets/z-index";

*{
  box-sizing: border-box;
}

body{
  font-family: $sansSerif;
  background-color: darken(white, 10%);
}

a{
  text-decoration: none;
}

.application{
  composes: dark-background from "../Stylesheets/colors.scss";
}
