@import '../../Stylesheets/vars.scss';

.search{
  position: relative;
  display: inline-block;
  margin-right: 1rem;

}

.field{
  padding: .5rem;
  border: 0;
  font-size: .9rem;
  border-radius: 2px;

  &:focus, &:active{
    outline: none;
  }
}

.found{
  position: absolute;
  top: 2.5rem;
  background-color: white;
  padding: .5rem;
  border-radius: 2px;
  border: 1px solid $primary;
  z-index: 900;
  width: 100%;
}

.list{
  max-height: 300px;
  overflow: auto;
}

.item{
  padding: .5rem;
  background-color: darken(white, 5%);
  transition: all 150ms ease-out;

  &:not(:last-of-type){
    margin-bottom: .5rem;
  }

  &:focus{
    background-color: darken(white, 15%);
  }
}

.item.active{
  background-color: $primary;
  color: white;
}
