@import '../../Stylesheets/vars.scss';

.container{
  flex: 1;

  &:not(:last-of-type){
    margin-right: 1rem;
  }
}

.list{
  padding: 0;
}

.heading{
  font-weight: 900;
  display: flex;
  align-items: center;

  span{
    margin-left: 1rem;

  }
}

.title{
  font-family: $sansSerif;
  // font-size: 2.1rem;
  margin-bottom: .75rem;
  display: inline-block;
  transition: transform 200ms ease-out;

  a{
    display: inline-block;
    color: $primary;
    text-decoration: underline;
  }
}

.item{
  position: relative;
  padding: .5rem;
  background-color: darken(white, 5%);
  border-style: solid;
  overflow: hidden;

  &:not(:last-of-type){
    margin-bottom: 1rem;
  }

  &:hover{
    .actions{
      transform: translateX(0px);
    }

    .title, .description{
      transform: translateX(30px);
    }
  }

  &.movement{
    .title{
      a{
        color: $primary;
      }
    }

    .actions{
      background-color: $primary;
    }
  }

  &.endgame{
    .actions{
      background-color: $secondary;
    }
    .title{
      a{
        color: $secondary;
      }
    }
  }

  &.gameplay{
    .actions{
      background-color: $tertiary;
    }
    .title a{
      color: $tertiary;
    }
  }

  &.setup{
    .title a{
      color: $quaternary;
    }

    .actions{
      background-color: $quaternary;
    }
  }
}

.actions{
  position: absolute;
  height: 100%;
  width: 30px;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transform: translateX(-25px);
  transition: transform 200ms ease-out;
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  button{
    display: block;
  }

  svg{
    path{
      fill: white;
    }
  }
}

.rule{
  composes: item;
  padding-left: 1.5rem;
}

.creator{
  font-size: .7rem;
  color: $dark;
  margin-left: 1rem;
}

.description{
  margin: 0;
  background: darken(white, 5%);
  transition: transform 200ms ease-out;
}

.link{
  color: $dark;
  border-bottom: 1px solid $primary;

  &:hover{
    color: $primary;
  }
}

.meta{
  transition: transform 200ms ease-out;
}

.game_link{
  font-size: 1rem;
  composes: link;
  display: inline-block;
  margin-bottom: 1rem;
}

.category{
  position: absolute;
  bottom: 0;
  right: -1px;
  padding: .25rem;
  color: white;
  border-radius: 1px;
  font-size: .8rem;
  border: 1px solid;

  &.movement{
    background-color: $primary;
    border-color: $primary;
  }

  &.endgame{
    background-color: $secondary;
    border-color: $secondary;
  }

  &.gameplay{
    background-color: $tertiary;
    border-color: $tertiary;
  }

  &.setup{
    background-color: $quaternary;
    border-color: $quaternary;
  }
}


// ******************************************
// ************** RULESETS ******************
// ******************************************

.ruleset{
  composes: item;
}

.rulesets{
  margin: 1.5rem 0rem;
}
