@import '../../Stylesheets/vars.scss';

.main{
  display: flex;
}

.header{
  margin-bottom: 2rem;
}

.search{
  position: relative;
  display: inline-block;
  margin-right: 1rem;
}

.field{
  padding: .5rem;
  border: 0;
  font-size: .9rem;
  border-radius: 2px;

  &:focus, &:active{
    outline: none;
  }
}

.found{
  position: absolute;
  top: 2.5rem;
  background-color: white;
  padding: .5rem;
  border-radius: 2px;
  border: 1px solid $primary;
}

.list{
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
}

.item{
  padding: .5rem;
  background-color: darken(white, 5%);

  &:not(:last-of-type){
    margin-bottom: .5rem;
  }
}

.actions{
  display: inline-block;
  button{
    &:not(:last-of-type){
      margin-right: 1rem;
    }
  }
}
