@import '../../Stylesheets/vars.scss';

.main{
  display: flex;
}

.link{
  padding: 1rem 0rem;
  color: $primary;
  text-decoration: underline;
  cursor: pointer;
  a{
    color: $primary;
  }
}

.header{
  margin-bottom: 2rem;
  text-align: center;
}

.search{
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0rem auto 1rem auto;
  z-index: 100;
}

.label{
  display: block;
  margin-bottom: .5rem;
}

.found{
  position: absolute;
  top: 2.5rem;
  background-color: white;
  padding: .5rem;
  border-radius: 2px;
  border: 1px solid $primary;
  z-index: 900;
}

.list{
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
}

.item{
  padding: .5rem;
  background-color: darken(white, 5%);

  &:not(:last-of-type){
    margin-bottom: .5rem;
  }
}

.inline_item{
  composes: item;
  display: inline-block;

  &:not(:last-of-type){
    margin-right: 1rem;
  }
}

.actions{
  text-align: center;
  padding-bottom: 2rem;
  button{
    &:not(:last-of-type){
      margin-right: 1rem;
    }
  }
}

.filters{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-top: 1px solid $dark;
}

.filter{
  display: flex;
  flex-flow: column;
  flex-basis: 100px;
  padding-top: .5rem;
  color: $dark;
  transition: transform 150ms ease-out;

  &:not(:last-of-type){
    border-right: 1px solid $dark;
  }

  &:hover{
    color: $primary;

    svg{
      transform: translateY(3px);

      path{
        fill: $primary;
      }
    }
  }

  svg{
    transition: transform 300ms ease-out;
  }
}

.filter_active{
  color: $primary;

  svg{
    transform: translateY(3px);

    path{
      fill: $primary;
    }
  }
}

.filter_name{
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: .25rem;
  display: flex;
  align-self: center;
  transition: transform 150ms ease-out;
}
